html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'system-ui', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #4a4a4a; }

h1 {
  font-size: 32px; }

a {
  text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

.circle {
  width: 1em;
  height: 1em; }

.hidden {
  display: none !important; }

aside {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding: 1em; }
  aside .logo {
    width: 100%; }
  aside #months {
    text-align: center;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
    border-bottom: 1px solid black; }
  aside #categories {
    display: flex;
    flex-direction: column;
    color: #4a4a4a;
    font-size: 1.2em; }
    aside #categories .checkboxpair {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1em; }
      aside #categories .checkboxpair label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%; }
        aside #categories .checkboxpair label p {
          margin: 0;
          flex-grow: 1; }

main {
  height: 100vh;
  overflow-y: hidden; }
  main section {
    display: grid;
    grid-template-rows: 50vh 50vh; }
    main section article {
      padding: 2em 6em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 6em; }
      main section article:nth-of-type(1) {
        grid-row: 1 / 1; }
      main section article:nth-of-type(2) {
        grid-row: 2 / 2; }
      main section article header {
        display: flex;
        flex-direction: row;
        grid-column: 1 / 1;
        grid-row: 1 / 1; }
        main section article header div {
          align-self: center; }
        main section article header .category {
          color: #fff;
          width: 7em;
          height: 7em;
          border-radius: 50%;
          text-align: center;
          margin-right: 1em; }
          main section article header .category .text {
            position: relative;
            top: 2.8em; }
        main section article header .date {
          flex-grow: 1; }
          main section article header .date .text {
            background-color: #fff;
            padding: .5em 1em; }
      main section article #article-title {
        grid-column: 1 / 1;
        grid-row: 2 / 2; }
      main section article #article-text {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin: 32px 0; }
      main section article #havenstad-title {
        grid-column: 1 / 1;
        grid-row: 1 / 1; }
      main section article #havenstad-text {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: 32px 0; }
  main #date-slider-section {
    height: 5vh; }

#form {
  overflow: scroll; }

form {
  display: flex;
  flex-direction: column; }
  form label {
    margin-bottom: .5em; }
  form select, form input, form textarea {
    margin-bottom: 1em; }

#article-selector {
  position: absolute;
  top: calc(50vh - 30px);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10; }
  #article-selector .background {
    background-color: #fff;
    width: 100vw;
    position: absolute;
    left: -6em;
    height: 8px;
    z-index: -1; }
  #article-selector a {
    margin: 4px; }

.category-circle {
  width: 1em;
  height: 1em; }

.category-circle-medium {
  width: 2em;
  height: 2em; }

.category-circle-large {
  width: 4em;
  height: 4em; }

.body-text {
  color: #000 !important;
  background-color: #fff !important;
  padding: 1em;
  border-radius: 20px; }
  .body-text.veiligheid {
    box-shadow: 14px 14px #ee2100; }
  .body-text.duurzaamheid {
    box-shadow: 14px 14px #1653a7; }
  .body-text.leven {
    box-shadow: 14px 14px #00ab49; }
  .body-text.mobiliteit {
    box-shadow: 14px 14px #f9a400; }
  .body-text.wonen {
    box-shadow: 14px 14px #aa2e94; }

.veiligheid {
  fill: #ee2100;
  background-color: #ee2100;
  color: #ee2100; }

.veiligheid-background {
  background-color: #ee210025; }

.duurzaamheid {
  fill: #1653a7;
  background-color: #1653a7;
  color: #1653a7; }

.duurzaamheid-background {
  background-color: #1653a725; }

.leven {
  fill: #00ab49;
  background-color: #00ab49;
  color: #00ab49; }

.leven-background {
  background-color: #00ab4925; }

.mobiliteit {
  fill: #f9a400;
  background-color: #f9a400;
  color: #f9a400; }

.mobiliteit-background {
  background-color: #f9a40025; }

.wonen {
  fill: #aa2e94;
  background-color: #aa2e94;
  color: #aa2e94; }

.wonen-background {
  background-color: #aa2e9425; }

/*# sourceMappingURL=styles.css.map */
