#article-selector {
  position: absolute;
  top: calc(50vh - 30px);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;

  .background {
    background-color: #fff;
    width: 100vw;
    position: absolute;
    left: -$article-padding-left;
    height: 8px;
    z-index: -1;
  }

  a {
    margin: 4px;
  }
}

.category-circle {
  width: 1em;
  height: 1em;
}

.category-circle-medium {
  width: 2em;
  height: 2em;
}

.category-circle-large {
  width: 4em;
  height: 4em;
}

.body-text {
  color: #000 !important;
  background-color: #fff !important;
  padding: 1em;
  border-radius: 20px;
  &.veiligheid {
    box-shadow: 14px 14px $category-red;
  }
  &.duurzaamheid {
    box-shadow: 14px 14px $category-blue;
  }
  &.leven {
    box-shadow: 14px 14px $category-green;
  }
  &.mobiliteit {
    box-shadow: 14px 14px $category-yellow;
  }
  &.wonen {
    box-shadow: 14px 14px $category-purple;
  }
}

@mixin color($color) {
  fill: $color;
  background-color: $color;
  color: $color
}

.veiligheid {
  @include color($category-red)
}

.veiligheid-background {
  background-color: #ee210025;
}

.duurzaamheid {
  @include color($category-blue)
}

.duurzaamheid-background {
  background-color: #1653a725;
}

.leven {
  @include color($category-green)
}

.leven-background {
  background-color: #00ab4925;
}

.mobiliteit {
  @include color($category-yellow)
}

.mobiliteit-background {
  background-color: #f9a40025;
}

.wonen {
  @include color($category-purple)
}

.wonen-background {
  background-color: #aa2e9425;
}
