#hint-overlay {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: rgba(37, 37, 37, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: none;

  h2 {
    position: fixed;
    margin: 0;
    top: 30vh;
    width: 80%;
    color: #fff;
    margin-left: 1em;
  }

  .swipe-hand {
    width: 4em;
    bottom: 28vh;
    position: fixed;
    left: 42vw;
  }

  .button {
    border: none;
    padding: 6px 12px;
    position: fixed;
    bottom: 14vh;
    margin-left: 25vw;
    &:focus {
      outline: none;
    }
  }
}
