body {

}

main {
  height: 100vh;
  overflow-y: hidden;

  section {
    display: grid;
    grid-template-rows: 50vh 50vh;
    article {
      height: 100%;
      padding: 2em 4em;
      &:nth-of-type(1) {
        grid-row: 1 / 1;
      }
      &:nth-of-type(2) {
        grid-row: 2 / 2;
      }

      header {
        display: flex;
        flex-direction: row;

        div {
          margin-right: 1em;
          align-self: center;
        }

        .category {
          color: #fff;
          width: 7em;
          height: 7em;
          border-radius: 50%;
          text-align: center;

          .text {
            position: relative;
            top: 2.8em;
          }
        }

        .date {
          flex-grow: 1;

          .text {
            background-color: #fff;
            padding: .5em 1em;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: row;

        h1 {
          width: 20vw;
          flex-grow: 1;
        }

        p {
          width: 40vw;
        }

        .title {
          flex-grow: 1;
        }
      }
    }
  }

  #date-slider-section {
    height: 5vh;
  }
}

#form {
  overflow: scroll;
}
form {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: .5em;
  }

  select, input, textarea {
    margin-bottom: 1em;
  }
}
