body {

}

main {
  height: 100vh;
  overflow-y: hidden;

  section {
    display: grid;
    grid-template-rows: 50vh 50vh;
    article {
      // height: 100%;
      padding: 2em $article-padding-left;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: $article-padding-left;
      &:nth-of-type(1) {
        grid-row: 1 / 1;
      }
      &:nth-of-type(2) {
        grid-row: 2 / 2;
      }

      header {
        display: flex;
        flex-direction: row;
        grid-column: 1 / 1;
        grid-row: 1 / 1;

        div {
          align-self: center;
        }

        .category {
          color: #fff;
          width: 7em;
          height: 7em;
          border-radius: 50%;
          text-align: center;
          margin-right: 1em;

          .text {
            position: relative;
            top: 2.8em;
          }
        }

        .date {
          flex-grow: 1;

          .text {
            background-color: #fff;
            padding: .5em 1em;
          }
        }
      }

      #article-title {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
      }

      #article-text {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
        margin: 32px 0;
      }

      #havenstad-title {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
      }

      #havenstad-text {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: 32px 0;
      }
    }
  }

  #date-slider-section {
    height: 5vh;
  }
}

#form {
  overflow: scroll;
}
form {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: .5em;
  }

  select, input, textarea {
    margin-bottom: 1em;
  }
}
