<div id="article-selector">
  <% articles.forEach(article => { %>
    <a href="/article/<%= article.id %>" class="category-<%= article.category.split(' ').join('-') %>">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="category-circle">
        <g>
          <circle class="<%= article.category.split(' ').join('-') %>" cx="540.5" cy="540.5" r="536.5"/>
        </g>
      </svg>
    </a>
  <% }) %>
</div>
