<aside>
  <img src="/img/ga_logo.png" class="logo" alt="logo gemeente amsterdam">

  <section id="months">
    <p id="min-month">Februari</p>
    <p>-</p>
    <p id="max-month">Oktober</p>
  </section>

  <section id="categories">
    <div class="checkboxpair">
      <input id="veiligheid" type="checkbox" name="category" value="veiligheid" checked>
      <label for="veiligheid">Veiligheid</label>
    </div>
    <div class="checkboxpair">
      <input id="duurzaamheid" type="checkbox" name="category" value="duurzaamheid" checked>
      <label for="duurzaamheid">Duurzaamheid</label>
    </div>
    <div class="checkboxpair">
      <input id="leven" type="checkbox" name="category" value="leven" checked>
      <label for="leven">Leven</label>
    </div>
    <div class="checkboxpair">
      <input id="mobiliteit" type="checkbox" name="category" value="mobiliteit" checked>
      <label for="mobiliteit">Mobiliteit</label>
    </div>
    <div class="checkboxpair">
      <input id="wonen" type="checkbox" name="category" value="wonen" checked>
      <label for="wonen">Wonen</label>
    </div>
  </section>
</aside>
