<aside>
  <img src="/img/ga_logo.png" class="logo" alt="logo gemeente amsterdam">

  <section id="months">
    <p id="min-month">Februari</p>
    <p>-</p>
    <p id="max-month">Oktober</p>
  </section>

  <section id="categories">
    <div class="checkboxpair">
      <input id="veiligheid" type="checkbox" name="category" value="veiligheid" checked>
      <label for="veiligheid">
        <p>Veiligheid </p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="circle">
          <style type="text/css">
          	.st0{fill:#ee2100;}
          </style>
          <g>
          	<circle class="st0" cx="540.5" cy="540.5" r="536.5"/>
          </g>
        </svg>
      </label>

    </div>
    <div class="checkboxpair">
      <input id="duurzaamheid" type="checkbox" name="category" value="duurzaamheid" checked>
      <label for="duurzaamheid">
        <p>Duurzaamheid</p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="circle">
          <style type="text/css">
            .st1{fill:#1653a7;}
          </style>
          <g>
            <circle class="st1" cx="540.5" cy="540.5" r="536.5"/>
          </g>
        </svg>
      </label>
    </div>
    <div class="checkboxpair">
      <input id="leven" type="checkbox" name="category" value="leven" checked>
      <label for="leven">
        <p>Leven</p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="circle">
          <style type="text/css">
          	.st2{fill:#f9a400;}
          </style>
          <g>
          	<circle class="st2" cx="540.5" cy="540.5" r="536.5"/>
          </g>
        </svg>
      </label>
    </div>
    <div class="checkboxpair">
      <input id="mobiliteit" type="checkbox" name="category" value="mobiliteit" checked>
      <label for="mobiliteit">
        <p>Mobiliteit</p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="circle">
          <style type="text/css">
          	.st3{fill:#00ab49;}
          </style>
          <g>
          	<circle class="st3" cx="540.5" cy="540.5" r="536.5"/>
          </g>
        </svg>
      </label>
    </div>
    <div class="checkboxpair">
      <input id="wonen" type="checkbox" name="category" value="wonen" checked>
      <label for="wonen">
        <p>Wonen</p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve" class="circle">
          <style type="text/css">
          	.st4{fill:#aa2e94;}
          </style>
          <g>
          	<circle class="st4" cx="540.5" cy="540.5" r="536.5"/>
          </g>
        </svg>
      </label>
    </div>
  </section>
</aside>
