<section id="date-slider-section">
  <div id="date-slider">
    <div id="slider-months">
      <p id="month-left">Februari</p>
      <p id="month-right">oktober</p>
    </div>
  </div>
</section>
