<section id="date-slider-section">
  <label for="amount">Date range: </label>
  <input type="text" id="amount" name="amount" style="border: 0; width: 300px;">
  <div id="date-slider"></div>
</section>
