<% include head %>

<main id="form">
  <h1>Voeg een artikel toe aan de database</h1>
  <form action="/addArticle" method="post">

    <label>Categorie</label>
    <select name="category" required>
      <option value="duurzaamheid">Duurzaamheid</option>
      <option value="mobiliteit">Mobiliteit</option>
      <option value="leven">Leven</option>
      <option value="wonen">Wonen</option>
      <option value="werken">Werken</option>
    </select>

    <label>Datum van artikel</label>
    <input type="text" name="date" required>

    <label>Titel van artikel</label>
    <input type="text" name="title" required>

    <label>Samenvatting van artikel</label>
    <textarea name="text" rows="8" cols="80"></textarea>

    <label>Naam van de afbeelding (inclusief extensie)</label>
    <input type="text" name="textorimage" placeholder="image.jpg">

    <label>Bron(vermelding)</label>
    <input type="text" name="source">

    <label>Subtitel haven-stad</label>
    <input type="text" name="titlehavenstad" required>

    <label>Tekst haven-stad</label>
    <textarea name="texthavenstad" rows="8" cols="80" required></textarea>

    <input type="submit" name="submit">

  </form>
</main>

<% include tail %>
