<% include head %>

  <header>

  </header>

  <aside>
    <img src="/img/ga_logo.png" class="logo" alt="logo gemeente amsterdam">

    <section>
      <p>April</p>
      <p>-</p>
      <p>Augustus</p>
    </section>

    <section id="categories">
      <div class="checkboxpair">
        <label for="veiligheid">Veiligheid</label>
        <input id="veiligheid" type="checkbox" name="category" value="veiligheid" checked>
      </div>
      <div class="checkboxpair">
        <label for="duurzaamheid">Duurzaamheid</label>
        <input id="duurzaamheid" type="checkbox" name="category" value="duurzaamheid" checked>
      </div>
      <div class="checkboxpair">
        <label for="leven">Leven</label>
        <input id="leven" type="checkbox" name="category" value="leven" checked>
      </div>
      <div class="checkboxpair">
        <label for="mobiliteit">Mobiliteit</label>
        <input id="mobiliteit" type="checkbox" name="category" value="mobiliteit" checked>
      </div>
      <div class="checkboxpair">
        <label for="wonen">Wonen</label>
        <input id="wonen" type="checkbox" name="category" value="wonen" checked>
      </div>
    </section>
  </aside>

  <main>
    <section>
      <article>
        <header>
          <div class="category">
            Veiligheid
          </div>
          <div class="date">
            3 Juni
          </div>
          <div class="back">
            <button type="button" name="button">Terug</button>
          </div>
        </header>

        <div class="content">
          <h1>Aanslag Amsterdam Centraal</h1>
          <p>Lorem impsum dolor sit amet</p>
        </div>
      </article>

      <article>
        <h3>Haven-Stad</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </article>
    </section>

    <section>
      <!-- slider -->
    </section>
  </main>

  <footer>

  </footer>

<% include tail %>
