<% include head %>

  <header>

  </header>

  <main>
    <section>
      <article>
        text
      </article>
      <article>
        text
      </article>
    </section>
    <section>
      <slider></slider>
    </section>
  </main>

  <footer>

  </footer>

<% include tail %>
